@font-face {
  font-family: "Geologica";
  src: url("assets/fonts/Geologica-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Alexandria";
  src: url("assets/fonts/Alexandria-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg: #f4fbff;
  --color-fg: #00182e;
  --color-card: #ffffff;
  --color-border: #002548;
  --color-primary: #002548;

  --color-accent: #5aa7ff;
}

html.dark {
  --color-bg: #00182e;
  --color-fg: #f4fbff;
  --color-card: #002548;
  --color-border: #5aa7ff;
  --color-primary: #5aa7ff;
  --color-accent: #5aa7ff;
}

body {
  background-color: var(--color-bg);
  color: var(--color-fg);
  font-family: "Alexandria", sans-serif;
}

main,
nav {
  max-width: 100vw;
  margin: 0 auto;
}

main {
  padding: 2rem 1rem;
}

h1 {
  font-family: "Geologica", sans-serif;
  font-size: clamp(2.5rem, 5vw, 4rem);
  text-transform: uppercase;
  line-height: 1;
  text-align: center;
  color: var(--color-fg);
}

@layer components {
  .h1-home {
    font-size: clamp(2.5rem, 6vw, 5rem);
  }
}