PORT=5050
MONGODB_URI=mongodb+srv://<username>:<db_password>@cluster0.ifhq3qs.mongodb.net/?appName=Cluster0
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
ACCESS_TOKEN_SECRET=THE
REFRESH_TOKEN_SECRET=0NE
SESSION_SECRET=P1ECE

EMAIL_ENCRYPTION_SECRET=encryption_secret